main {
  min-height: 80vh;
}

h3 {
  padding: 1rem 0;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

.rating span {
  margin: 0.1rem;
}

/* carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}
.carousel-caption {
  position: absolute;
  top: 0;
}

.carousel-caption h2 {
  color: #fff;
}

.carousel img {
  height: 300px;
  padding: 30px;
  margin: 40px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}
.carousel a {
  margin: 0 auto;
}
@media (max-width: 900px) {
  .carousel-caption h2 {
    font-size: 2.5vw;
  }
}

.align-middle {
  justify-content: center;
  display: flex;
  font-size: 28px;
}

.gap-between {
  gap: 18px;
}

.brand-icon {
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.brand-icon:hover {
  transform: scale(1.2);
}

.fa-instagram:hover {
  color: transparent;
  background: -webkit-radial-gradient(
    30% 107%,
    circle,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  background: -o-radial-gradient(
    30% 107%,
    circle,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  background: -webkit-radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  background-clip: text;
}

.fa-facebook:hover {
  color: #4267b2;
}

.fa-twitter:hover {
  color: #00acee;
}

.see-all-button {
  color: black;
  background-color: transparent;
  padding: 8px;
  transition: all 0.1s ease-in-out;
  text-decoration: none !important;
}

.see-all-button:hover {
  color: white;
  background-color: black;
}

.see-all-button-container a {
  text-decoration: none;
}
